@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment names="Development"></environment>
    <environment names="Staging,Production">
        <!-- You can include different things based on Environment! -->
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div>
        <p>~Layout Included~</p>
    </div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
